include pyproject.toml
include LICENSE
include composer_theory/README.md
include composer_theory/API.md
recursive-include composer_theory *.py
prune composer_create
prune composer_theory/.history
prune composer_theory/tests
global-exclude __pycache__
global-exclude *.py[cod]
